@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primaria: #fdfdfd;
  --color-secundaria: #054100;
  --color-preta: #0F172A;
  --color-success: #8cd29c;
  --color-error: #dc3545;
  --color-warning: #ffc107;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-primaria);
  color: var(--color-preta);
}

.checkboxSavv {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%; 
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.checkboxSavv:checked {
    border-color: #a5d6a7; 
}

.checkboxSavv:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #1b5e20;
    border-radius: 50%;
}