.tituloPrincipalDenuncia {
    font-size: var(--tamanho-tituloPrincipal);
    font-weight: var(--groçura-tituloPrincipal);
    color: var(--cor-texto-principal);
    letter-spacing: var(--espaçamento-tituloPrincipal);
}

.containerDenuncia {
    display: flex;
    flex-direction: column;
    padding: 55px var(--space-especial-mapa) var(--space-xl) var(--space-especial-mapa);
}

.subtituloVerde {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-primary);
}

.linhaDivisoria {
    background-color: var(--cor-borda-principal);  
}

.containerFormularioDenuncia {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-lg);
    margin: var(--space-xl) var(--space-xxl) var(--space-especial-mapa) var(--space-xxl);
    border-top: 1px solid var(--cor-borda-principal);
}

.formDenuncia {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg); 
    
   
    max-width: 720px; 
    width: 100%;
    margin: 0 auto;
    padding: var(--space-xl) 20px;
}

.denunciaItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm);
    width: 100%;
}

.denunciaItem2 {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    width: 100%;
}

.inputDenuncia {
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid var(--cor-borda-principal);
    height: 44px; 
}

.labelDenuncia {
    font-weight: 600;
    font-size: var(--tamanho-textoSub);
    line-height: var(--altura-linha-textoSub);
    color: var(--color-textoSub);
}

.inputDenuncia1 {
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid var(--cor-borda-principal);
}

.inputDenunciaAnexo {
    width: 100%;
    border: 1px solid var(--cor-borda-principal);
    height: 140px; 
}

.btnEnviarDenuncia {
    background-color: var(--color-primary);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: var(--tamanho-textoSub);
    font-weight: var(--groçura-textoSub);
    padding: var(--space-sm) var(--space-lg);
    border: 3px solid var(--color-primary);
    margin-top: var(--space-md);
    transition: 0.2s ease-in-out;
    
    width: 100%;
    max-width: 270px; 
    margin-left: auto;
    margin-right: auto;
}

.btnEnviarDenuncia:hover {
    background-color: var(--color-secundary);
    color: var(--color-primary);
    cursor: pointer;
    transition: 0.3s ease-in-out; 
}

textarea {
    resize: vertical;
}

.imgMapaDenuncia {
    width: 100%;
    height: 1%;
}


.container-imagem {
    width: 100%;  
    height: 260px; 
    overflow: hidden; 
    margin: 10px 0;
}

.container-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

@media (max-width: 600px) {
    .denunciaItem2 {
        flex-direction: column;
        gap: var(--space-xl);
    }
}
