corPrimaria {
    color: var(--color-primary);
}

.corSecundaria {
    color: var(--color-secundary);
}

footer {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    box-shadow: 0 0 5px #2d2d2d32;
    padding-left: 1%;
    padding-right: 1%;
}

footer .contatos{
    padding: 3%;
    padding-top: 5%;
    text-align: center;
}

footer .contatos img{
    width: 40%;
}

footer .contatos h1{
    font-size: 1.3rem;
    font-weight: 600;
}

footer .linksmenu{
    padding-top: 12%;
    text-align: center;
}

footer .linksmenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .linksmenu li{
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    margin-left: 20%;
    letter-spacing: 1.25px;
    z-index: 1;
}

footer .linksmenu a{
    text-decoration: none;
    color: #000000;
}

footer .linksmenu a:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

footer .mapa {
    padding: 5%;
    display: flex;
    justify-content: end;
    width: 100%;
}

footer .mapa img{
    max-width: 60%;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer .linksmenu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}
}