corPrimaria {
    color: var(--color-primary);
}

.corSecundaria {
    color: var(--color-secundary);
}

footer {
    display: grid;
    grid-template-columns: 25% 35% 40%;
    box-shadow: 0 0 5px #2d2d2d32;
    padding-right: 1%;
    padding-left: 1%;
}

footer .contatos{
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 5px;
    align-items: center;
    padding: 3em;
}

footer .contatos img{
    width: 5em;
}

footer .contatos h1{
    font-size: 1.3em;
    font-weight: 600;
    flex: 1 1 20em;
}

footer .linksmenu{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .linksmenu ul {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .linksmenu li{
    font-size: 1em;
    font-weight: 500;
    list-style: none;
    margin-left: 20%;
    letter-spacing: 1.25px;
    z-index: 1;
}

footer .linksmenu a{
    text-decoration: none;
    color: #000000;
}

footer .linksmenu a:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

footer .mapa {
    padding: 5%;
    display: flex;
    justify-content: end;
    width: 100%;
}

footer .mapa img{
    max-width: 60%;
}

@media (max-width: 900px) {
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    footer .linksmenu  {
        text-align: left;
        padding-top: 0%;
    }

    footer .linksmenu ul {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: left;
        align-items: left;
        width: 80%;
        margin-top: 1.0em;
    }

    footer .linksmenu li {
        font-size: 0.9em;
        
    }

    footer .contatos {
        padding-top: 2em;
    }

    footer .contatos img {
        width: 4em;
    }

    footer .contatos h1 {
        font-size: 1em;
    }

    footer .mapa {
        padding: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        grid-column: span 2;
        grid-row: 1;

    }

    footer .mapa img{
        max-width: 17em;

    }



}