@import url('./style.css');

.BoxInfos {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 5em;
    row-gap: 3em;
    column-gap: 2em;
}

.InfosDenuncias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1em solid var(--cor-borda-principal);
    grid-column: span 2;
}

.InfosDenuncias i{
    font-size: 2.5em;
    padding: 0.2em 0.5em 0.2em 0.5em ;
    margin: 0.8em;
    text-align: center;
    align-items: center;
    border: 0.05em solid var(--cor-borda-principal);
    color: var(--color-primary);
    background-color: rgba(19, 237, 84, 0.1);;
}

.InfosDenuncias .DisplayTittle {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 2.5em 3.5em;
    width: 25em;
    margin-top: 1.5em;
    column-gap: 0.3em;
}

.InfosDenuncias .DisplayTittle #categoria {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    background-color: rgba(19, 237, 84, 0.1);
    border: 0.1em solid rgba(37, 94, 84, 0.4);
    color: rgba(0, 78, 23, 0.4);
    margin: 0.8em 1em 0.8em 0.8em;
    font-size: 0.7em;
    font-weight: var(--groçura-textoSub);
    text-align: center;
}

.InfosDenuncias .DisplayTittle #status {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    background-color: rgba(237, 182, 19, 0.1);
    border: 0.1em solid rgba(237, 182, 19, 0.4);
    color: rgba(215, 161, 0, 0.6);
    margin: 0.8em 1em 0.8em 0.8em;
    font-size: 0.7em;
    font-weight: var(--groçura-textoSub);
    text-align: center;
}

.InfosDenuncias .DisplayTittle h1 {
    font-size: 2.3em;
    grid-column: span 3;
    grid-row: span 3;
}

.InfosDenuncias .DisplayTittle .textoSub {
    line-height: 0px;
    font-size: 0.7em;
    padding: 0.3em;
    margin: 0.8em 1em 0.8em 0.8em;
}

.colunas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3em;
}

.colunas .box {
    padding: 1em 1.5em 1em 1.5em;
    border: 0.1em solid var(--cor-borda-principal);
}

.colunas .box p{
    font-size: 1.2em;
    color: #4d4c4c;
    margin: 0.1em;
    letter-spacing: 0.05em;
    justify-content: center;
}

.colunas .box h2{
    font-size: 1em;
}

.colunas .box .boximg {
    border: 0.1em solid var(--cor-borda-principal);
    background-color: #F5F7FD;
    padding: 0.6em;
}

.colunas .boxMapa {
    border: 0.1em solid var(--cor-borda-principal);
    background-color: #F5F7FD;
    padding: 0.6em;
}

hr{
    margin: 0.5em 0em 1.5em 0em;
}

@media (max-width: 768px) {

    .InfosDenuncias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 0.1em solid var(--cor-borda-principal);
        grid-column: span 2;
        text-align: center;
        align-items: center;
        padding: 2em 0em 2em 0em;
    }

    .InfosDenuncias .DisplayTittle {
        width: 20em;
        column-gap: 0em;
        grid-template-rows: 2.5em 2.5em;
        grid-template-columns: 35% 35% 20%;

    }

    .InfosDenuncias .DisplayTittle p{
        grid-row: 2;
    }

    .InfosDenuncias .DisplayTittle #categoria{
        margin-right: 0em;
    }

    .InfosDenuncias .DisplayTittle .textoSub{
        grid-row: 2;
        font-size: 0.6em;
        padding: 0.3em;
        margin: 1.6em 0em 0.8em 0em;
    }

    .InfosDenuncias .DisplayTittle h1{
        grid-row: 1;
        font-size: 1.5em;
    }

    .InfosDenuncias i{
        width: 2em;
        margin: 0em;
    }

    .colunas {
        grid-column: span 2;
    }

    .colunas .box p{
        font-size: 0.8em;
    }

}