
.corPrimaria {
    color: var(--color-primary);
}

.corSecundaria {
    color: var(--color-secundary);
}

.headerNav {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px #2d2d2d32;
}

.navbar ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1.5rem;
    width: 100%;
    gap: 2rem;
}

.navbar li.active {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    transition: all 0.5s ease-out;
}

.navbar ul li a:hover {
    animation: underline 0.5s ease-out forwards;
}

.btn-login {
    background-color: var(--color-primary);
    border: none;
    font-weight: 600;
    border-radius: 1px;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-login:hover {
    filter: brightness(0.9);
}

.btn-login a {
    color: var(--color-secundary);
    text-decoration: none;
}

.logoNav {
    width: auto;
    height: 100px;
    margin: 0.5rem 0rem 0.5rem 1.5rem;
}

.btnMenuHamburguer {
    display: none;
    background: none;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn-login.active {
        display: flex;
    }

    .logoNav.active {
        display: none;
    }

    .navbar ul li {
        display: none;
    }

    .btn-login {
        display: none;
    }

    .logoNav {
        height: 80px;
    }

    .btnMenuHamburguer {
        display: block;
        align-self: end;
    }
}

@media (min-width: 1024px) {
    .logoNav {
        height: 80px;
    }

    .navbar ul {
        gap: 1.5rem;
        flex-direction: row;
    }
}

@keyframes underline {
    from {
        text-decoration: underline;
        text-decoration-color: transparent;
    }

    to {
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
    }
}