@import url('./style.css');

h2 {
    font-size: var(--tamanho-subtitulo);
    font-weight: 700;
}

.contornoMapa {
    width: fit-content;
    height: auto;
}

.sectionServicos {
    margin: 3rem var(--space-xl) 0 var(--space-xl);
    display: flex;
    flex-direction: row;
}

.sectionServicos article {
    width: 50%;
}

.sectionServicos aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.asideServicos div {
    padding: 0 var(--space-lg) 0 var(--space-xl);
}

.contornoMapa img {
    height: auto;
}

.legendaMapa div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.legendaMapa {
    width: fit-content;
    box-shadow: 0.5px 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.legendaMapa div {
    padding: 13px 5px 13px 5px;
}

.legendaMapa div input {
  width: 20px;
  height: 20px;
  accent-color: var(--color-primary); 
}

.legendaMapa div input:checked {
  accent-color: var(--color-primary); 
}   

.subtitulo {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-primary);
}

.titulo {
    font-size: var(--tamanho-tituloPrincipal);
    font-weight: 700;
    margin-bottom: 20px;
}

main {
    margin: 4rem var(--space-xl) 0 var(--space-xl);
}

.headerDados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDados div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.linha {
    padding: 3px 3rem 0 3rem;
    width: 80%;
    background-color: var(--color-primary);
    margin-top: 5px;
}

.sectionDados {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 3rem;
}

.articleDados {
    border: 1px solid red;
}

.articleDados p {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-textoSub);
}

.titulosDados {
    display: flex;
    flex-direction: row;
}